@model ByteBank.Forum.Models.UsuarioAplicacao

@{
    ViewBag.Title = "AguardandoConfirmacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aguardando confirmação</h2>
<p> Bem vindo ao Fórum ByteBank, @Model.NomeCompleto! Verifique o email cadastrado para a confirmação de sua conta. </p>